version: '3.3'

services:
  web:
    image: node:14
    depends_on: 
      - db
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: node index.js
    ports:
      - 3000:3000
    environment: 
      - DB_HOST=db
  db:
    image: mariadb
    restart: always
    volumes:
      - ./data/db:/var/lib/mysql
      - ./schema:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_ROOT_HOST=%
